@page "/Cart/cart"
@{

}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using CMS.Web.Models

@model CMS.Core.Entites.Event

<!DOCTYPE html>

<html lang='en'>

<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        cooks = []  // list keeping all cookies corresponding to items put in the Cart
        ids = [] // ids of items in a cart
        quants = [] // quantities of items in a cart --> if quant = 0, then neither id nor quantity of this item is kept in the list
        // items ids and their quantities have same indices in both arrays
        function getCookiesOnLoad() {
            var allCookies = document.cookie.split(";");
            for (var i = 0; i < allCookies.length; i++) {
                let re = /\d+=\d+/;
                if (allCookies[i].match(re)) {
                    cooks.push(allCookies[i]);
                }
            }
             for (var i = 0; i < cooks.length; i++) {
                 //console.log(cooks[i]);
                 var ids_quantities = cooks[i].split("=");
                 ids.push(ids_quantities[0]);
                 quants.push(ids_quantities[1]);

            }

            for (var i = 0; i < ids.length; i++) {
                console.log("id " + ids[i]);
                console.log("quant " + quants[i]);
            }
        }
        window.onload = getCookiesOnLoad;
        //alert("Cookies loaded");
    </script>
</head>



<body>
    <br />
    <br />
    <div class="container rpw p-0 m-0">
        <div class="col-12">
            <h2 class="text-primary"> @Localizer["Cart"] </h2>
        </div>

        <div class="col-12" style="text-align:center">
            <br />

        </div>
        <div class="col-12 border p-3" style="text-align:center">

            <table id="purchases" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th> @Localizer["EventPicture"] </th>
                        <th> @Localizer["EventName"] </th>
                        <th> @Localizer["EventPrice"] </th>
                        <th> @Localizer["NumberOfTickets"] </th>
                        <th> @Localizer["SumPrice"]</th>
                    </tr>
                </thead>

                <!-- i to poniżej jakoś w pętli foreach i dla każdego z tych parametrów pobierać z bazy elementy z Purchase -->
               
                    <tr>
                        <th> </th>
                        <th>  </th>
                        <th>  </th>
                        <th>  </th>
                        <th> </th>
                    </tr>
               
                <!-- tyle wierszy będzie dodane ile jest itemów w Purchase -->
            </table>

            <div class="col-12">
                <p>@Localizer["TotalPrice"]</p>
                <a class="btn btn-primary" href="/cart/checkout" role="button"> @Localizer["Checkout"]</a>
                <a class="btn btn-primary" href="/home/index" role="button"> @Localizer["Abort"] </a>
            </div>
        </div>
    </div>
</body>
</html>

