@page "/Cart/cart"
@{

}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<br />

<!-- zrobić if żeby koszyk się wyświetlał gdy Purchase.Count > 0, a gdy pusty to wyświetla się stosowny komunikat-->

<div class="container rpw p-0 m-0">
    <div class="col-12">
        <h2 class="text-info"> @Localizer["Cart"] </h2>
    </div>
    <div class="col-12" style="text-align:center">
        <br />

    </div>
    <div class="col-12 border p-3" style="text-align:center">

        <table id="purchases" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th> @Localizer["EventPicture"] </th>
                    <th> @Localizer["EventName"] </th>
                    <th> @Localizer["EventPrice"] </th>
                    <th> @Localizer["NumberOfTickets"] </th>
                </tr>
            </thead>

            <!-- i to poniżej jakoś w pętli foreach i dla każdego z tych parametró pobierać z bazy elementy z Purchase -->
            <tr>
                <th> ... </th>
                <th> ... </th>
                <th> ... </th>
                <th> ... </th>
            </tr>
            <!-- tyle wierszy będzie dodane ile jest itemów w Purchase -->
        </table>

        <div class="col-12">
            <p>@Localizer["TotalPrice"]</p>
            <a class="btn btn-outline-dark" href="/cart/checkout" role="button"> @Localizer["Checkout"] </a>
            <a class="btn btn-outline-dark" href="/home/index" role="button"> @Localizer["Abort"] </a>
        </div>
    </div>
</div>


