@page "/Account/LogIn"
@model LoginModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["LogInTitle"];
}
<link href="~/css/style.css" rel="stylesheet" />

<br /><br />
<div class="d-flex justify-content-center p-5">
    <form action="" method="post" class="register-form">
        <div class="row">
            <div class="col-12">
                <label for="Input.Email">Email</label>
                <input name="Input.Email" class="form-control" type="email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="Input.Password">@Localizer["Password"]</label>
                <input name="Input.Password" class="form-control" type="password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <button class="btn btn-primary"><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" id="textbutton">@Localizer["Register"]</a></button>
                <style>
                    #textbutton {
                        color: white;
                    }
                </style>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <button class="btn btn-primary">@Localizer["Login"]</button>
          
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a id="forgot-password" asp-page="./ForgotPassword">@Localizer["ForgotPassword"]</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
