@model CMS.Core.Entites.Event
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "EVENT - INDEX";

}

<link href="~/css/event.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />

<div class="container bootdey">
    <div class="col-md-10 offset-1">
        <section class="panel">
            <div class="panel-body">
                <div class="col-md-10 offset-1">
                    <div class="pro-img-details">
                        <img src="@Model.PhotoPath" alt="">
                    </div>
                </div>
                <div class="col-md-10 offset-1">
                    <h6>@Model.Date</h6>
                    <h4>@Model.Name</h4>
                    <p> @Model.Description </p>
                    <div class="product_meta">
                        <span class="posted_in">
                            <strong>@Localizer["EventTypeLabel"]</strong> <a rel="tag" href="#">@Model.EventType</a>
                        </span>
                    </div>
                    <div class="m-bot15">
                        <strong>@Localizer["EventPriceLabel"]</strong><span class="pro -price">@Model.TicketPrice zł</span>
                    </div>
                    <div id='map' style='width: 400px; height: 300px;'></div>


                    <script>
                        mapboxgl.accessToken = 'pk.eyJ1IjoibXBkOTciLCJhIjoiY2s2dWluMWlyMDlrODNscmo5ZGJydXd1dSJ9.1q0TuIH6z8RUDIjk0oznrQ'
                        var map = new mapboxgl.Map({
                            container: 'map',
                            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                            center: [@Model.Longitude.ToString().Replace(",", "."), @Model.Latitude.ToString().Replace(",", ".")], // starting position [lng, lat]
                            zoom: 5 // starting zoom
                        });

                        var marker = new mapboxgl.Marker()
                            .setLngLat([@Model.Longitude.ToString().Replace(",", "."), @Model.Latitude.ToString().Replace(",", ".")])
                            .addTo(map);
                    </script>
                    <div class="form-group">
                        <label>Liczba sztuk:</label>
                        <input type="number" min="1" placeholder="1" class="form-control quantity">
                    </div>
                    <p>
                        <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Dodaj do koszyka</button>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>