@model CMS.Core.Entites.Event
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    @if (Localizer["Lang"].Value == "PL")
    {
        ViewData["Title"] = @Model.NamePl;
    }
    else if (Localizer["Lang"].Value == "EN")
    {
        ViewData["Title"] = @Model.NameEn;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/css/event.css" rel="stylesheet">
    <link href="~/css/post.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />


    <script>
        AOS.init();
    </script>

    <script type="text/javascript">

        cooks = []  // list keeping all cookies corresponding to items put in the Cart
        ids = [] // ids of items in a cart
        quants = [] // quantities of items in a cart --> if quant = 0, then neither id nor quantity of this item is kept in the list
        // items ids and their quantities have same indices in both arrays
        function getCookiesOnLoad() {
            var allCookies = document.cookie.split(";");
            for (var i = 0; i < allCookies.length; i++) {
                let re = /\d+=\d+/;
                if (allCookies[i].match(re)) {
                    cooks.push(allCookies[i]);
                }
            }
            for (var i = 0; i < cooks.length; i++) {
                //console.log(cooks[i]);
                var ids_quantities = cooks[i].split("=");
                ids.push(ids_quantities[0]);
                quants.push(ids_quantities[1]);
            }
            for (var i = 0; i < ids.length; i++) {
                console.log("id " + ids[i]);
                console.log("quant " + quants[i]);
            }
        }
        window.onload = getCookiesOnLoad;
        //alert("Cookies loaded");

    </script>

</head>



    <br />
    <br />

    <section class="portfolio-details" data-aos="fade-up">
        <div class="container" id="eventpicture">
            <div class="portfolio-details-container">
                <div class="container">
                    <div class="owl-carousel box portfolio-details-carousel">
                        <img src="@Model.PhotoPath" class="img-fluid" alt="">
                        <div class="text-block" id="pictext">

                            @if (Localizer["Lang"].Value == "PL")
                            {
                                <h2>@Model.NamePl</h2>
                            }
                            else if (Localizer["Lang"].Value == "EN")
                            {
                                <h2>@Model.NameEn</h2>
                            }
                        </div>
                    </div>
                </div>

                <div class="portfolio-info" data-aos="fade-up">

                    <h6>
                        <strong>@Localizer["Date"]:</strong> @Model.Date.ToShortDateString()
                    </h6>
                    <h6>
                        <strong>@Localizer["Place"]:</strong> @Model.City
                    </h6>
                    <h6>
                        <strong>@Localizer["EventTypeLabel"]</strong> <a rel="tag" href="#">@Model.EventType</a>
                    </h6>
                    <h3></h3>

                    <strong>@Localizer["EventPriceLabel"]</strong><span class="pro -price"> @Model.TicketPrice PLN</span>

                    <form class="form-inline">
                        <div class="form-group">
                            <label for="quantity">@Localizer["Quantity"]: </label>
                            <input type="number" id="quantity" min="1" placeholder="1" class="form-control quantity" value="1">
                        </div>
                    </form>
                    <p>
                        <button id="AddToCart" class="btn btn-round btn-primary" type="button" data-id="@Model.ID" onclick="addProductToCookies()">
                            @Localizer["AddToCart"]
                        </button>


                    </p>

                </div>

            </div>

            <div class="portfolio-description" data-aos="fade-up">
                <div class="container aos-init aos-animate" data-aos="fade-up">

                    <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-5">
                            <div class="box mb-4" id='map' data-aos="zoom-in-up" style='width: 400px; height: 300px;'>

                                <script>

                                            mapboxgl.accessToken = 'pk.eyJ1IjoibXBkOTciLCJhIjoiY2s2dWluMWlyMDlrODNscmo5ZGJydXd1dSJ9.1q0TuIH6z8RUDIjk0oznrQ'
                                            var map = new mapboxgl.Map({
                                                container: 'map',
                                                style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                                                center: [@Model.Longitude.ToString().Replace(",", "."), @Model.Latitude.ToString().Replace(",", ".")], // starting position [lng, lat]
                                                zoom: 12 // starting zoom
                                            });

                                            var marker = new mapboxgl.Marker()
                                                .setLngLat([@Model.Longitude.ToString().Replace(",", "."), @Model.Latitude.ToString().Replace(",", ".")])
                                                .addTo(map);
                                </script>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="box mb-4">
                                @if (Localizer["Lang"].Value == "PL")
                                {
                                    <h2> @Model.NamePl </h2>
                                }
                                else if (Localizer["Lang"].Value == "EN")
                                {
                                    <h2> @Model.NameEn </h2>
                                }
                                <p><small>@Localizer["EventOrganisator"]:</small> @Model.Organisator </p>
                                <p>
                                    @if (Localizer["Lang"].Value == "PL")
                                    {
                                        @Model.DescriptionPl
                                    }
                                    else if (Localizer["Lang"].Value == "EN")
                                    {
                                        @Model.DescriptionEn
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Dodawanie Komentarza TODO*@



        <div class="container pt-2" data-aos="fade-up">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-8">
                    <h4>@Localizer["comments"]</h4>

                    @foreach (var comment in Model.Comments.OrderByDescending(x => x.Date))
                    {

                        <div class="card card-white post pb-2 pt-2" data-aos="fade-up">
                            <div class="post-heading">
                                <div class="float-left meta">
                                    <div class="title h5">
                                        <b>@comment.Pseudonym</b>
                                        @Localizer["posted"]
                                    </div>
                                    <h6 class="text-muted time">@comment.Date</h6>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>@comment.Message</p>
                            </div>
                        </div>
                        <div class="pb-4"></div>
                    }
                </div>
            </div>
        </div>

        <style>
            .pb-cmnt-container {
                font-family: Lato;
                margin-top: 100px;
            }

            .pb-cmnt-textarea {
                resize: none;
                padding: 20px;
                height: 130px;
                width: 100%;
                border: 1px solid #dddddd;
                border-radius: .25rem;
            }

            .pb-cmnt-label {
                resize: none;
                padding: 20px;
                width: 100%;
                border: 1px solid #dddddd;
                border-radius: .25rem;
            }
        </style>

        <div class="container pb-cmnt-container" data-aos="fade-up" >
            <div class="row" data-aos="fade-up">
                <div class="col-md-6 col-md-offset-3"data-aos="fade-up" >
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <h4>@Localizer["comment"]</h4>
                            <form class="form-inline" method="post">
                                <div class="pb-2">
                                    <input name="Pseudonym" type="text" class="pb-cmnt-label" autocomplete="off" placeholder="@Localizer["userName"]" />
                                </div>
                                <textarea name="Message" type="text" placeholder="@Localizer["addComment"]" class="pb-cmnt-textarea"></textarea>
                                <input name="EventId" type="hidden" class="form-control quantity" value="@Model.ID" />
                                <div class="pt-2">
                                    <button class="btn btn-primary pull-right" type="submit">@Localizer["share"]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script>
        @{
            var nameR = "";
            if (Localizer["Lang"].Value == "PL")
            {
                nameR = @Model.NamePl;
            }
            else if (Localizer["Lang"].Value == "EN")
            {
                nameR = @Model.NameEn;
            }
        }

            var name = "@nameR";


        var old_value = 0;
            function addProductToCookies() {
                for (var id = 0; id < ids.length; id++) {
                    if (@Model.ID === Number.parseInt(ids[id])) {
                        var index = id;
                        old_value = Number(parseInt(quants[index]));
                        console.log("for_if_old", old_value)
                    }
                    else {
                        console.log("for_else_old", old_value)
                    }
                }
                quantity = document.getElementById("quantity").value;
                console.log("id: ", @Model.ID,' quantity: ', quantity);
                var total_value = old_value + Number.parseInt(quantity);
                console.log("id: ",@Model.ID,' total:', total_value);
                document.cookie = '@Model.ID=' + total_value + '; path=/';  // expires at the end of Session
                swal("@Localizer["GoodJob"]", + quantity + " @Localizer["Part1"] " + name + " @Localizer["Part2"]", "success");
                old_value = total_value;
                console.log("id: ",@Model.ID,' old_value: ', old_value);
            }

    </script>


</body>
</html>
