@model CMS.Core.Entites.Event
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "EVENT - INDEX";

}

<link href="~/css/event.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
<br /><br />
<div class="container bootdey">
    <div class="col-md-10 offset-1">
        <section class="panel">
            <div class="panel-body">
                <div class="col-md-10 offset-1">
                    <div class="pro-img-details">
                        <img src="@Model.PhotoPath" alt="">
                    </div>
                </div>
                <div class="col-md-10 offset-1">
                    <h6>@Model.Date</h6>
                    <h4>@Model.Name</h4>
                    <p> @Model.Description </p>
                    
                    <div id='map' style='width: 400px; height: 300px;'>
                        <script>
                            mapboxgl.accessToken = 'pk.eyJ1IjoibXBkOTciLCJhIjoiY2s2dWluMWlyMDlrODNscmo5ZGJydXd1dSJ9.1q0TuIH6z8RUDIjk0oznrQ'
                            var map = new mapboxgl.Map({
                                container: 'map',
                                style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                                center: [@Model.Longitude.ToString().Replace(",", "."), @Model.Latitude.ToString().Replace(",", ".")], // starting position [lng, lat]
                                zoom: 5 // starting zoom
                            });
    
                            var marker = new mapboxgl.Marker()
                                .setLngLat([@Model.Longitude.ToString().Replace(",", "."), @Model.Latitude.ToString().Replace(",", ".")])
                                .addTo(map);
                        </script>
                    </div>
                    
                    <div class="product_meta">
                        <span class="posted_in">
                            <strong>@Localizer["EventTypeLabel"]</strong> <a rel="tag" href="#">@Model.EventType</a>
                        </span>
                    </div>
                    <div class="m-bot15">
                        <strong>@Localizer["EventPriceLabel"]</strong><span class="pro -price">  @Model.TicketPrice zł</span>
                    </div>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="quantity">@Localizer["Quantity"]: </label>
                            <input type="number" id="quantity" min="1" placeholder="1" class="form-control quantity" >
                        </div>
                    </form>
                    <p>
                        <button class="btn btn-round btn-primary" type="button"><i class="fa fa-shopping-cart"></i>@Localizer["AddToBasket"]</button>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>