@using Microsoft.AspNetCore.Mvc.Localization
@using CMS.Web.Models
@inject IViewLocalizer Localizer
@using CMS.Web.Controllers
@using CMS.Web.Requests
<!DOCTYPE html>

@{
    ViewData["Title"] = Localizer["Calendar"];
}

<html lang='en'>

<head>

    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width" />
    <link href='~/lib/fullcalendar/lib/main.css' rel='stylesheet' />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src='~/lib/fullcalendar/lib/main.js'></script>
    <script src='fullcalendar/core/locales/en.js'></script>
    <script src='fullcalendar/core/locales/pl.js'></script>
    <script>
        var fcSources = {
            all: {
                id: 'all',
                url: '@Url.Action("allCalendarEvents")'
                },
            mine: {
                id: 'mine',
                url: '@Url.Action("myEvents")'
                }
        };
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    editable: true,
                    selectable: true,
                    eventSources: [fcSources.all],
                    eventClick: function (info) {
                        window.location.pathname = '/event/' + info.event.id;
                    },
                    locale: '@Localizer["language"]',
                    initialVeiw: 'dayGridMonth',
                    headerToolbar: {
                        left: 'prev,next,today',
                        center: 'title'
                    },
                    buttonText: {
                        today: '@Localizer["today"]',
                        month:  '@Localizer["month"]',
                        week: '@Localizer["week"]',
                        day: '@Localizer["day"]'
                    },
                });
            calendar.render();
        });

    </script>
    <script>
        function reloadEventSources(element) {
            console.log("sdsdsD");
            if (element.checked == true) {
                $('#calendar').calendar('removeEventSource', fcSources.all);
                $('#calendar').calendar('addEventSource', fcSources.mine);
                $('#calendar').calendar('refetchEvents');
            } else {
                $('#calendar').calendar('removeEventSource', fcSources.mine);
                $('#calendar').calendar('addEventSource', fcSources.all);
                $('#calendar').calendar('refetchEvents');
            }
        }
    </script>


</head>
<body>
    <div class="checkbox mt-5">
        <label>
            <input type="checkbox" id="myEventsCheck" onchange="reloadEventSources(this)">
            @Localizer["onlyMyEvents"]
        </label>
    </div>
    <div class="mt-3" id='calendar'></div>
</body>
</html>

