@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info mb-5">
            <a class="navbar-brand text-dark" href="/home/index">The Event Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home/index">@Localizer["HomePage"] <span class="sr-only">(current)</span></a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="/home/index">@Localizer["Events"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">@Localizer["Contact"]</a>
                    </li>
                    -->
            
                    <li class="nav-item">
                        <div class="d-flex flex-row-reverse bd-highlight">
                            <div class="fixed-right">
                                <a class="btn btn-outline-dark" href="/cart/cart" role="button">@Localizer["Cart"] <img src="/images/cart_icon.png" height="30" alt="cart"></a>
                            </div>
                        </div>
                    </li>
                </ul>
              
                <div class="form-inline my-2 my-lg-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="btn btn-dark mx-2">@Localizer["Logout"]</button>
                        </form>
                    }
                    else
                    {
                        <a href="/account/register" class="btn btn-dark mx-2">@Localizer["SignUp"]</a>
                        <a href="/account/login" class="btn btn-dark mx-2">@Localizer["LogIn"]</a>
                    }
                    
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="row">
            <div class="col-6 text-right">
                <p>&copy; 2020 - The Event Shop - Grupa B</p>
            </div>
            <div class="col text-center">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
    </footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>